#gridTextarea{
  display: flex;
  flex-direction: column-reverse;
}
#gridRadio{
  .option{
    margin-bottom: 15px;
  }
}
#gridSelect,
#inputNettoPrice,
#inputBruttoPrice{
  display: flex;
  flex-direction: column-reverse;
  label{
    font-size: 14px;
    font-weight: 600;
    color: $mainAccent;
    margin: 10px 0;
  }
}

#submitButton{
  display: block;
  margin: 50px 0 0 auto;
  outline: none;
  background-color: $mainAccent;
  border: 1px solid $mainAccent;
  border-radius: 3px;
  padding: 10px 25px;
  font-weight: 600;
  color: $colorWhite;
  box-shadow: 1px 1px 3px $mainAccentPale;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;

  &:hover:not(&:disabled){
    box-shadow: 1px 1px 5px $mainAccentPale;
  }
  &:focus:not(&:disabled){
    color: $mainAccent;
    background-color: $colorWhite;
  }

  &:disabled{
    background-color: $mainAccentLight;
    cursor: default;
  }
}

.error_message{
  color: $error;
  font-size: 12px;
  //style opacity while validate the form
  opacity: 0;
}