@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap');
@import './variables.scss';
@import './form.scss';
@import './input.scss';

*{
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Sora', sans-serif;


  h1{
    text-align: center;
    font-weight: 600;
  }

  p{
    color: $mainAccent;
    font-weight: 600;
    font-size: 14px;
  }
}

.gridMain {
  margin: auto;
  width: 100%;
  max-width: 640px;
  .gridForm{
    display: block;
    margin: 25px;
    padding: 15px;
    border: 1px solid $gridBorder;    
  }
}
